[user]
  name = Andrew Fallows
  email = kaldrenon@gmail.com

[grep]
  linenumber = true

[github]
  user = kaldrenon

[credential]
  helper = store

[credential "https://github.com"]
  user = kaldrenon

[credential "http://github.com"]
  user = kaldrenon

[help]
  autocorrect = 1

[color]
  ui = true

[init]
  templatedir = ~/.git_template

[push]
  default = current

[alias]
  b     = branch
  bc    = for-each-ref --sort='-*committerdate' --format="%(refname:short)" refs/heads/
  ca    = commit --amend
  cm    = commit -m
  co    = checkout
  d     = diff
  dc    = diff --cached
  dl    = diff 'HEAD^1' HEAD
  s     = status
  l     = "!source ~/.githelpers && pretty_git_log"
  rhh   = reset --hard HEAD

  changes        = diff --name-only --diff-filter=AM
  cached-changes = diff --cached --name-only --diff-filter=AM
  conflicts      = diff --name-only --diff-filter=U
  review         = "!f() { git push origin HEAD:refs/for/$1; }; f"
  gui            = "!sh -c '/usr/local/opt/git/libexec/git-core/git-gui'"
  cleanup        = "!git stash && git add -A && git reset --hard HEAD && git status"

  aa = "!clear; git add -A; git status"

