[core]
  editor = nvim

[user]
  name = Andrew Fallows
  email = afallows@covermymeds.com

[grep]
  linenumber = true

[github]
  user = kaldrenon

[credential]
  helper = store

[credential "https://github.com"]
  user = kaldrenon

[credential "http://github.com"]
  user = kaldrenon

[help]
  autocorrect = 1

[color]
  ui = true

[init]
  templatedir = ~/.git_template

[push]
  default = current

[alias]
  aa  = "!clear; git add -A; git status"
  b   = branch
  bc  = for-each-ref --sort='-*committerdate' --format="%(refname:short)" refs/heads/
  bm  = "!bash -c 'source ~/.githelpers && list_merged'"
  ca  = commit --amend
  clg = "!f() { git clone http://github.com/$1; }; f"
  cm  = commit -m
  cp  = cherry-pick
  co  = checkout
  d   = diff
  dc  = diff --cached
  dcf = diff --cached --name-only
  dl  = diff 'HEAD^1' HEAD
  dlf = diff 'HEAD^1' HEAD --name-only
  ds  = "!f() { echo $1; git diff $1^ $1; }; f"
  dsf = "!f() { echo $1; git diff --name-only $1^ $1; }; f"
  l   = "!bash -c 'source ~/.githelpers && pretty_git_log'"
  nvm = reset --soft HEAD~1
  rhh = reset --hard HEAD
  s   = status

  cached-changes = diff --cached --name-only --diff-filter=AM
  changes        = diff --name-only --diff-filter=AM
  checkpoint     = commit -m "stopping point before I mess it up lol."
  cleanup        = "!git stash && git add -A && git reset --hard HEAD && git status"
  conflicts      = diff --name-only --diff-filter=U
