# This file contains snippets that are always defined. I personally
# have snippets for signatures and often needed texts

snippet { "close braces" i
{
  $1
}
endsnippet

snippet ( "close parens" b
(
  $1
)
endsnippet

snippet [ "close brackets" i
[
  $1
]
endsnippet
