### Vimwiki snippets

# Task list snippets
snippet d "New day" b
~~`date +"%D"` - `date +"%A"`~~
endsnippet

snippet t "new task" i

- [ ] - ${1:1} - ${2:task}
endsnippet

snippet T "new task" i
  - [ ] - ${1:1} - ${2:task}
endsnippet

snippet r "Resulotion" i
      ${1:Resolution/summary}
endsnippet

snippet w "last week" i
[[Pomodoro/Week of `date -v -1w +"%Y"`-${1:`date +"%m-%d"`}]]
endsnippet

snippet @ "datestamp" !b
`date +"%Y-%m-%d"`
endsnippet

snippet ! "timestamp" i
`date +"%H:%M"`
endsnippet

snippet snp "new thought snippet" !b
[[snips/`date +"%Y%m%d%H%M%S"`]]
endsnippet
