### Vimwiki snippets

# Task list snippets
snippet day "New day" b
- `date +"%D"` - `date +"%A"`
  - ${1:poms} - ${2:task}

endsnippet

snippet t "new task" i
  - ${1:poms} - ${2:task}
      ${3:Resolution/summary}
endsnippet

snippet T "new task" i
  - ${1:poms} - ${2:task}
endsnippet

snippet r "Resulotion" i
      ${1:Resolution/summary}

endsnippet

snippet w "last week" b
[[Pomodoro/Week of `date -v -1w +"%Y-%m-%d"`]]
endsnippet

