#
# :javascript tag snips
#
snippet log "Description" !b
console.log(${1:"${2:message}"});
endsnippet

snippet targ "" !b
target = $(event.currentTarget);
endsnippet

snippet fn "js func" !i
function($1) {
  ${2:// TODO}
}
endsnippet
